language: php

php:
  - 7.0
  - 7.1
  - 7.2
  - nightly


before_script:
  - travis_retry composer install --prefer-source --no-interaction --dev

script:
  - vendor/bin/phpunit --coverage-text --coverage-clover=coverage.clover

notifications:
  slack: staudacher-dev:c5UQEs1buOwFmCTN39Gp95Gg